{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reem</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
        <link rel="stylesheet"href="{% static '/css/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static '/css/all.min.css' %}">
        <link rel="stylesheet"href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="{% static '/css/uicons-regular-rounded.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/responsive.css' %}">
    </head>
    <body>
 
        {% include 'inc/navbar.html' %}

{% block body %}


{% endblock body %}

        <footer>
            <div class="w-100 ft-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="widget widget-about">
                                <a href="#" style="max-width: 11.0rem;display: block;">
                                    <img class="footer-logo" src="{% static '/images/logo-2.webp' %}" alt="">
                                </a>
                                <p class="ft-info">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                                <div class="widget-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a class="cnt-number" href="tel:+98765432">+98 765 432</a>
                                        </div>
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Payment Method</span>
                                            <a class="payment_image" href="#">
                                                <img src="{% static '/images/resources/pay.webp' %}" width="272" height="20">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4>
                                <ul class="widget-list list-unstyled">
                                    <li>
                                    <a href="about.html">About Midas</a>
                                </li>
                                <li>
                                    <a href="#">How to shop on Molla</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQ</a>
                                </li>
                                <li>
                                    <a href="contact-us.html">Contact us</a>
                                </li>
                                <li>
                                    <a href="#">Log in</a>
                                </li>
                            </ul>
                        </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4>
                                <ul class="widget-list list-unstyled">
                                    <li>
                                        <a href="#">Payment Methods</a>
                                    </li>
                                    <li>
                                        <a href="#">Money-back</a>
                                    </li>
                                    <li>
                                        <a href="#">Returns</a>
                                    </li>
                                    <li>
                                        <a href="#">Shipping</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms and conditions</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4>
                                <ul class="widget-list list-unstyled">
                                    <li>
                                        <a href="#">Sign In</a>
                                    </li>
                                    <li>
                                        <a href="#">View Cart</a>
                                    </li>
                                    <li>
                                        <a href="#">My Wishlist</a>
                                    </li>
                                    <li>
                                        <a href="#">Track My Order</a>
                                    </li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="row justify-content-between">
                            <div class="col-12 col-md-auto py-1">
                                <p class="footer-copyright m-0">Copyright © 2024 Reem Store. All Rights Reserved.</p>
                                <ul class="footer-menu list-unstyled">
                                    <li>
                                        <a href="#">Terms / Privacy Policy</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-auto py-1">
                                <div class="socials d-flex align-items-center gap-3">
                                    <span class="social-label">Social Media</span>
                                    <ul class="list-unstyled d-flex align-items-center flex-wrap gap-3">
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>