<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Molla</title>
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet"href="assets/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/css/all.min.css">
        <link rel="stylesheet"href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="assets/css/uicons-regular-rounded.css">
        <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
    </head>
    <body>
<header>
            <div class="w-100 bg-1 header-pd">
                <div class="container">
                    <div class="top-bar d-flex flex-wrap align-items-center justify-content-between">
                        <div class="bar-left">
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa-solid fa-phone"></i> Call: +98 765 432</a></li>
                            </ul>
                        </div>
                        <div class="bar-right">
                            <ul class="list-unstyled d-flex flex-wrap align-items-center gap-3">
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa-regular fa-user"></i> Login</a></li>
                                <li>
                                 <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                 <option selected>USD</option>
                                 <option value="1">PKR</option>
                                 <option value="2">EUR</option>
                                 <option value="3">RUB</option>
                                 </select>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="w-100 bg-white main-pd">
                <div class="container">
                    <div class="main-header row w-100 d-flex align-items-center justify-content-between">
                        <div class="menu-left col-lg-4 col-md-4 d-flex flex-nowrap align-items-center">
                            
                            <div class="field-box position-relative">
                                <input type="text" name="q" value="" class="search" placeholder="Search in..." required="">
                                <div class="search-field position-absolute">
                                    <a href="#">
                                <img src="assets/images/resources/search-outline.svg" alt="" width="28px" style="-webkit-transform: rotateY(180deg);
                                   -moz-transform: rotateY(180deg);
                                    -ms-transform: rotateY(180deg);
                                     -o-transform: rotateY(180deg);
                                        transform: rotateY(180deg);"></a>

                            </div>
                            </div>
                        </div>
                        <div class="menu-mid col-lg-4 col-md-4 text-lg-center">
                            <a href="index.html"><img src="assets/images/logo.webp" alt=""></a>
                        </div>
                        <div class="menu-right col-md-4 col-lg-4">
                            <ul class="shp-lst list-unstyled d-flex align-items-center justify-content-end">
                                <li><a style="font-weight: 300;" href="#"><img src="assets/images/resources/icon-1.png" alt=""> My wishlist</a></li>
                                <li><a style="font-weight: 500;" href="#"><img src="assets/images/resources/icon-2.png" alt="">$0.00</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 header-bottom d-none d-lg-block">
                <div class="container">
                    <div class="border-top" style="opacity: 0.5;"></div>
                    <nav class="main-navigation">
                        <ul class="main-menu list-unstyled d-flex justify-content-center">
                            <li ><a href="index.html">Home</a>
 
                               <div class="megamenu-wrap">
    
    <div class="container">
     <div class="megamenu-inner position-relative w-100">

      <div class="row mrg30">

       <div class="col-md-7 col-sm-12 col-lg-7">

        <div class="megamenu-box-wrap position-relative w-100">

         <div class="row mrg30 active">


          <div class="col">

           <div class="megamenu-item w-100">
            <h4>Blog Style</h4>
            <ul class="list-unstyled mb-0 w-100">
             <li><a href="blog.html">Blog Style 1</a></li> 
             <li><a href="blog2.html">Blog Style 2</a></li>
             <li><a href="blog3.html">Blog Style 3 </a></li>
             <li><a href="blog4.html">Blog Style 4</a></li>
             <li><a href="blog5.html">Blog Style 5</a></li>
            </ul>
           <!--megamenu-item--></div>

          <!--col-inner--></div>

          <div class="col">

           <div class="megamenu-item w-100">
            <h4>Product Style</h4>
            <ul class="list-unstyled mb-0 w-100">
             <li><a href="product-detail.html">Product Style 1</a></li>
             <li><a href="product-detail2.html">Product Style 2</a></li>
             <li><a href="product-detail3.html">Product Style 3</a></li>
             <li><a href="product-detail4.html">Product Style 4 
               </a></li>
             <li><a href="product-detail5.html">Product Style 5</a></li>
            </ul>
           <!--megamenu-item--></div>

          <!--col-inner--></div>

          <div class="col">

           <div class="megamenu-item w-100 active">
            <h4>Header Style</h4>
            <ul class="list-unstyled mb-0 w-100">
             <li class="active"><a href="index.html">Header Style 1</a></li>
             <li><a href="index2.html" >Header Style 2 
               <span class="badge bg-success rounded-pill">New</span></a></li>
             <li><a href="index3.html">Header Style 3</a></li>
            </ul>
           <!--megamenu-item--></div>

          <!--inner-col--></div>


         <!--row--></div>
        <!--megamenu-box--></div>
       <!--col--></div>
       <div class="col-md-5 col-lg-5 col-sm-12">
           <div class="image">
               <img src="assets/images/resources/shoes.jpg" style="object-fit: cover;max-height: 170px;width: 100%;object-position: top;" alt="">
           </div>
       </div>

      <!--row--></div>
     <!--inner--></div>
    <!--container--></div>  
   <!--megamenu--></div>
                            </li>
                            <li class="active"><a href="index.html">Shop <i class="fa-solid fa-angle-down"></i></a>
                                <ul class="children mb-0 w-100 list-unstyled">
                                    <li><a href="shop-fullwidth.html">Shop Fullwidth</a></li>
                                    <li><a href="shop-sidebar.html">Shop With Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="index.html">Product <i class="fa-solid fa-angle-down"></i></a>
                              <ul class="children mb-0 w-100 list-unstyled">
                                    <li><a href="product-detail.html">Product-Detail</a></li>
                                    
                                </ul>
                            </li>
                            <li ><a href="index.html">Pages <i class="fa-solid fa-angle-down"></i></a>
                                <ul class="children mb-0 w-100 list-unstyled">
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                    <li><a href="faq.html">FAQs</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                </ul>
                            </li>
                            <li ><a href="index.html">Blog <i class="fa-solid fa-angle-down"></i></a>
                                <ul class="children mb-0 w-100 list-unstyled">
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                </ul>
                            </li>
                            <li><a href="index.html">Buy Now</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

<div class="res-header w-100">
  <div class="res-topbar w-100">
    <div class="container">
      <div class="res-topbar-inner d-flex flex-wrap align-items-center justify-content-between">
        <div class="logo">
          <h1 class="mb-0">
            <a href="index.html"><img src="assets/images/logo.webp"></a></h1>
        </div>
                            <ul class="shp-lst list-unstyled d-flex align-items-center justify-content-end">
                                <li class="bar">
                                <a class="responsive-menu-trigger d-inline-block" href="#" onclick="showMenu()"><i class="fi fi-rr-align-justify"></i></a>
                            </li>
                                <li><a style="font-weight: 300;" href="#"><img src="assets/images/resources/icon-3.png" alt=""></a></li>
                                <li><a style="font-weight: 500;" href="#"><img src="assets/images/resources/icon-4.png" alt=""></a></li>
                            </ul>
      </div>
    </div>
  </div>
</div>
<div class="mobile-nav position-relative">
     <div class="nav-links" id="navLinks">
      <a href="#" class="position-absolute res-menu-close" onclick="hideMenu()">
      <i class="fa-solid fa-xmark"></i></a>
      <ul class="mobile-res list-unstyled mb-0">
        <li><a href="index.html">Home</a></li>
        <li><a class="collapsed" data-bs-toggle="collapse" data-bs-target="#mb-one" aria-controls="mb-one" href="index.html">Shop <i class="fa-solid fa-angle-down"></i></a>
                                <ul class="collapse children mb-0 w-100 list-unstyled" id="mb-one">
                                    <li><a href="shop-fullwidth.html">Shop Fullwidth</a></li>
                                    <li><a href="shop-sidebar.html">Shop With Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a class="collapsed" data-bs-toggle="collapse" data-bs-target="#mb-two" aria-controls="mb-two" href="index.html">Product <i class="fa-solid fa-angle-down"></i></a>
                                <ul id="mb-two" class="collapse children mb-0 w-100 list-unstyled">
                                    <li><a href="product-detail.html">Product-Detail</a></li>
                                    
                                </ul>
                            </li>
                            <li><a class="collapsed" data-bs-toggle="collapse" data-bs-target="#mb-three" aria-controls="mb-three"  href="index.html">Pages <i class="fa-solid fa-angle-down"></i></a>
                                <ul id="mb-three" class="collapse children mb-0 w-100 list-unstyled">
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                    <li><a href="faq.html">FAQs</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                </ul>
                            </li>
                            <li><a class="collapsed" data-bs-toggle="collapse" data-bs-target="#mb-four" aria-controls="mb-four" href="index.html">Blog <i class="fa-solid fa-angle-down"></i></a>
                                <ul id="mb-four" class="collapse children mb-0 w-100 list-unstyled">
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                </ul>
                            </li>
                            <li><a href="index.html">Buy Now</a></li>

</ul>
    </div>
   </div>
<script>
  var navLinks = document.getElementById("navLinks");
  function showMenu(){
    navLinks.style.right = "0";
  }
   function hideMenu(){
    navLinks.style.right = "-322px";
  }

</script>

<div class="border-top" style="opacity: .3;"></div>
<div class="container">
    <div class="breadcrumbs row align-items-center justify-content-between d-flex">
        <div class="col-12">
            <ul class="breadcrumbs_content list-unstyled d-flex justify-content-center">
                <li class="home">
                    <a title="Home" href="/" itemprop="url">
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <span><i class="fa-solid fa-angle-right"></i> Shop With Sidebar</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="border-top mb-2" style="opacity: .3;"></div>
<section class="sp-wrap org v2">
<div class="w-100">
    <div class="container">
        <div class="row">
            <div class="filter-wrap d-flex justify-content-between align-items-center flex-wrap">
                <a class="meu"href="#">FILTER:</a>
                <p class="flt-title">Showing <span>20 of 87</span> results</p>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="max-width: 13%;border-radius: 0;padding: 2px 0;">
                                 <option selected>Date, old to new</option>
                                 <option value="1">Pents</option>
                                 <option value="2">Shirts</option>
                                 <option value="3">Shoes</option>
                                 </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="block-sidebar">
                    <div class="Catagories border-top">
                        <h3 class="mt-3">Categories</h3>
                        <div class="content">
                          <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input active" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">Fashion</label>
                            </div>
                            <span class="count active">87</span>
                        </div>

                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Electronic 
                                </label>
                            </div>
                            <span class="count">23</span>
                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Furniture
                                </label>
                            </div>
                            <span class="count">5</span>
                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Deco
                                </label>
                            </div>
                            <span class="count">4</span>
                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Lightning 
                                </label>
                            </div>
                            <span class="count">5</span>
                        </div>
                    </div>
                    </div>

                    <div class="Sizes border-top">
                        <h3 class="mt-3 "><a class="d-flex align-items-center justify-content-between" href="" data-bs-toggle="collapse" data-bs-target="#collapsethree" aria-controls="collapsethree">Sizes <i class="fa-solid fa-angle-down"></i></a></h3>
                        <div class="content collapse" id="collapsethree" style="height: 200px !important;overflow-y: auto;" >
                          

                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">37
                                </label>
                            </div>

                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">38
                                </label>
                            </div>

                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">39
                                </label>
                            </div>

                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">40
                                </label>
                            </div>
                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">41
                                </label>
                            </div>

                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">42
                                </label>
                            </div>

                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Extra Large
                                </label>
                            </div>
                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Large
                                </label>
                            </div>

                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Medium
                                </label>
                            </div>

                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">Small
                                </label>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="Color border-top">
                        <h3 class="mt-3 "><a class="d-flex align-items-center justify-content-between" href="" data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-controls="collapsetwo">Color <i class="fa-solid fa-angle-down"></i></a></h3>
                        <div class="content collapse" id="collapsetwo">
                          <ul class="multi-col list-unstyled">
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"></a></li>
                          </ul>
                    </div>
                    </div>
                    <div class="Catagories border-top">
                        <h3 class="mt-3 "><a class="d-flex align-items-center justify-content-between" href="" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-controls="collapsefour">Price <i class="fa-solid fa-angle-down"></i></a></h3>
                        <div class="content collapse" id="collapsefour">

                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">$150-$500
                                </label>
                            </div>
                            
                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">$50-$150
                                </label>
                            </div>
                           
                        </div>
                        <div class="block-lst align-items-center d-flex justify-content-between">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">$7-$50
                                </label>
                            </div>
                            
                        </div>
                    </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-9 col-sm-12 col-md-12">
                <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-9.webp"></a>
                      <span class="position-absolute sv">Save 38%</span>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Aliquam tincidunt mauris</a></h2>
                        <span class="product-price">$19.99</span>
                        <div class="prd-options">
                            <ul class="list-unstyled d-flex gap-2 align-items-center justify-content-center">
                                <li><a href="#"><img src="assets/images/resources/prd-9.webp"></a></li>
                                <li><a href="#"><img src="assets/images/resources/prd-14.webp"></a></li>
                                <li><a href="#"><img src="assets/images/resources/prd-16.webp"></a></li>
                                <li><a href="#"><img src="assets/images/resources/prd-20.webp"></a></li>
                            </ul>
                        </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-10.webp"></a>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Vestibulum auctor</a></h2>
                        <span class="product-price">$19.99</span>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-11.webp"></a>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Nunc dignissim risus</a></h2>
                        <span class="product-price">$19.99</span>
                        <div class="prd-options">
                            <ul class="list-unstyled d-flex gap-2 align-items-center justify-content-center">
                                <li><a href="#"><img src="assets/images/resources/prd-13.webp"></a></li>
                                <li><a href="#"><img src="assets/images/resources/s-prd-2.jpg"></a></li>
                            </ul>
                        </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-12.webp"></a>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Denim jacket</a></h2>
                        <span class="product-price">$19.99</span>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-13.webp"></a>
                      <span class="position-absolute sv">Save 78%</span>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Brown zebra print dungaree dress</a></h2>
                        <span class="product-price">$19.99</span>
                        <div class="prd-options">
                            <ul class="list-unstyled d-flex gap-2 align-items-center justify-content-center">
                                <li><a href="#"><img src="assets/images/resources/s-prd-1.jpg"></a></li>
                                <li><a href="#"><img src="assets/images/resources/s-prd-2.jpg"></a></li>
                                <li><a href="#"><img src="assets/images/resources/s-prd-3.jpg"></a></li>
                            </ul>
                        </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-14.webp"></a>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Brown faux fur longline coat</a></h2>
                        <span class="product-price">$19.99</span>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-15.webp"></a>
                      <span class="position-absolute sv">Save 48%</span>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Lilac horn button knit cardigan</a></h2>
                        <span class="product-price">$19.99</span>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-16.webp"></a>
                      <span class="position-absolute sv">Save 68%</span>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Denim jacket</a></h2>
                        <span class="product-price">$19.99</span>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-17.webp"></a>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Denim jacket</a></h2>
                        <span class="product-price">$19.99</span>
                        <div class="prd-options">
                            <ul class="list-unstyled d-flex gap-2 align-items-center justify-content-center">
                                <li><a href="#"><img src="assets/images/resources/prd-16.webp"></a></li>
                                <li><a href="#"><img src="assets/images/resources/prd-14.webp"></a></li>
                            </ul>
                        </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-18.webp"></a>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Brown croc embossed double ring jeans belt</a></h2>
                        <span class="product-price">$19.99</span>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-19.webp"></a>
                      <span class="position-absolute sv">Save 68%</span>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Denim jacket</a></h2>
                        <span class="product-price">$19.99</span>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-20.webp"></a>
                      <span class="position-absolute sv">Save 38%</span>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Denim jacket</a></h2>
                        <span class="product-price">$19.99</span>
                        <div class="prd-options">
                            <ul class="list-unstyled d-flex gap-2 align-items-center justify-content-center">
                                <li><a href="#"><img src="assets/images/resources/s-prd-1.jpg"></a></li>
                            </ul>
                        </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-9.webp"></a>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Black chain print turtle neck top</a></h2>
                        <span class="product-price">$19.99</span>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-10.webp"></a>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Denim jacket</a></h2>
                        <span class="product-price">$19.99</span>
                        <div class="prd-options">
                            <ul class="list-unstyled d-flex gap-2 align-items-center justify-content-center">
                                <li><a href="#"><img src="assets/images/resources/prd-17.webp"></a></li>
                                <li><a href="#"><img src="assets/images/resources/prd-13.webp"></a></li>
                                <li><a href="#"><img src="assets/images/resources/prd-11.webp"></a></li>
                                <li><a href="#"><img src="assets/images/resources/prd-18.webp"></a></li>
                            </ul>
                        </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-11.webp"></a>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.webp" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Denim jacket</a></h2>
                        <span class="product-price">$19.99</span>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="block-product">
                  <div class="product-thumb position-relative">
                      <a href="#"><img src="assets/images/resources/prd-12.webp"></a>
                      <span class="position-absolute sv">Save 38%</span>
                      <a href="#" class="ad-cart position-absolute text-center">
                          <span>Add to Cart</span>
                      </a>
                      <div class="product-btns position-absolute">
                        <a class="wishlist-btn" href="wishlist.html" style="transition-delay:0ms;">
                            <i class="fi fi-rr-heart"></i>
                        </a>
                        <a class="cart-btn" href="cart.html" style="transition-delay: 45ms;">
                            <i class="fi-rr-shopping-bag"></i>
                        </a>
                        <a class="expand-btn" href="images/product-img1-2.jpg" style="transition-delay:90ms;">
                            <i class="fi fi-rr-picture"></i>
                        </a>

        <!--product-btns--></div>
                  </div>
                  <div class="product-body text-center">
                      <a href="#" class="brand-name">Molla</a>
                      <h2 class="product-name">
                        <a href="#">Brown paperbag waist pencil skirt</a></h2>
                        <span class="product-price">$100.99</span>
                        <div class="prd-options">
                            <ul class="list-unstyled d-flex gap-2 align-items-center justify-content-center">
                                <li><a href="#"><img src="assets/images/resources/s-prd-1.jpg"></a></li>
                                <li><a href="#"><img src="assets/images/resources/s-prd-4.jpg"></a></li>
                            </ul>
                        </div>
                  </div>
              </div>
          </div>

        </div>

            </div>
        </div>
    </div>
</div>
</section>




<footer class="ft-v2 border-top">
    <div class="w-100 ft-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="widget widget-about">
                        <a href="index.html" style="max-width: 11.0rem;display: block;">
                            <img class="footer-logo" src="assets/images/logo.webp" alt="">
                        </a>
                        <p class="ft-info">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                        <div class="widget-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title">Got Question? Call us 24/7</span>
                                    <a class="cnt-number" href="tel:+98765432">+98 765 432</a>
                                </div>
                                <div class="col-sm-6 col-md-8">
                                    <span class="widget-about-title">Payment Method</span>
                                    <a class="payment_image" href="#">
                                        <img src="assets/images/resources/pay.webp" width="272" height="20">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4>
                        <ul class="widget-list list-unstyled">
                            <li>
                            <a href="about.html">About Midas</a>
                        </li>
                        <li>
                            <a href="#">How to shop on Molla</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="contact-us.html">Contact us</a>
                        </li>
                        <li>
                            <a href="#">Log in</a>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4>
                        <ul class="widget-list list-unstyled">
                            <li>
                                <a href="#">Payment Methods</a>
                            </li>
                            <li>
                                <a href="#">Money-back</a>
                            </li>
                            <li>
                                <a href="#">Returns</a>
                            </li>
                            <li>
                                <a href="#">Shipping</a>
                            </li>
                            <li>
                                <a href="#">Terms and conditions</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4>
                        <ul class="widget-list list-unstyled">
                            <li>
                                <a href="#">Sign In</a>
                            </li>
                            <li>
                                <a href="#">View Cart</a>
                            </li>
                            <li>
                                <a href="#">My Wishlist</a>
                            </li>
                            <li>
                                <a href="#">Track My Order</a>
                            </li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-auto py-1">
                        <p class="footer-copyright m-0">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                        <ul class="footer-menu list-unstyled">
                            <li>
                                <a href="#">Terms / Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-auto py-1">
                        <div class="socials d-flex align-items-center gap-3">
                            <span class="social-label">Social Media</span>
                            <ul class="list-unstyled d-flex align-items-center flex-wrap gap-3">
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>